/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: grey;
  background-repeat: no-repeat;
} */

.header {
  background-color: #6c13c5;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.header__title {
  margin: 0;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.hamburger span {
  background-color: #fff;
  height: 3px;
  margin: 4px 0;
  width: 25px;
}

.header__nav {
  margin: 0;
  padding: 0;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header__nav-item {
  margin: 5px 10px;
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
}

.header__nav-link:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}
